---

---

<footer class="w-full border-t mt-8">
  <div
    class="max-w-7xl mx-auto px-4 py-6 flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0"
  >
    <!-- Tekst / logo -->
    <div class="text-lg">© 2025</div>

    <!-- Links -->
    <nav class="flex space-x-6">
      <a
        href="https://viotrica.dk"
        target="_blank"
        rel="noopener noreferrer"
        class="transition-colors duration-300"
        style="--hover-color: var(--color-secondary-500)"
        onmouseover="this.style.color='var(--hover-color)';"
        onmouseout="this.style.color='';"
      >
        Website
      </a>
      <a
        href="https://www.instagram.com/viotrica/"
        target="_blank"
        rel="noopener noreferrer"
        class="transition-colors duration-300"
        style="--hover-color: var(--color-secondary-500)"
        onmouseover="this.style.color='var(--hover-color)';"
        onmouseout="this.style.color='';"
      >
        Instagram
      </a>
      <a
        href="www.linkedin.com/in/victoria-bruun-henriksen-655996354"
        target="_blank"
        rel="noopener noreferrer"
        class="transition-colors duration-300"
        style="--hover-color: var(--color-secondary-500)"
        onmouseover="this.style.color='var(--hover-color)';"
        onmouseout="this.style.color='';"
      >
        LinkedIn
      </a>
    </nav>
  </div>
</footer>
